@model WebApplication1.Models.TipoPS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@if (User.IsInRole("Administrador") | User.IsInRole("Moderador"))
{
    if (TempData["vencer"] != null)
    {
        {
            <input id="vencer" style="display: none" value="@TempData["vencer"]" />

        }

    }
}
<div>
    <h4>TipoPS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreTipoPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreTipoPS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionTipoPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionTipoPS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTipoPS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
