@model IEnumerable<WebApplication1.Models.TipoPS>

@{
    ViewBag.Title = "Tipos de PS:";
}

<div>
    <h1 class="text-center ">Tipos de PS</h1>
    <hr style="color:grey;border-color:grey" />
</div>

@*<p>
    @Html.ActionLink("Agregar tipo PS", "Create")
</p>*@
<table class="table table-striped table-bordered ">
    <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
        <th class="text-left" style="border-radius: 5px;width: 250px">
            @Html.DisplayNameFor(model => model.NombreTipoPS)
        </th>
        <th class="text-left" style="border-radius: 5px">
            @Html.DisplayNameFor(model => model.DescripcionTipoPS)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="font-weight: bold" >
            @Html.DisplayFor(modelItem => item.NombreTipoPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionTipoPS)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTipoPS })
            @*@Html.ActionLink("Details", "Details", new { id=item.IdTipoPS })|
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTipoPS })*@
        </td>
    </tr>
}

</table>
