<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema PS 2016</title>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <style>
        .full {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            height: 100%;
        }

    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>

<body class="full" background="~/Content/Images/BACKGROUND-TOP.jpg" >
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href='@Url.Action("Index", "Home")'>
                <img style="height: 50px" src='@Url.Content("~/Content/Images/logoUTNDeptoISIPS.png")'/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li style="font-weight: bold;">@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li style="font-weight: bold;">@Html.ActionLink("Alumnos", "Index", "Alumnos")
                <li style="font-weight: bold;">@Html.ActionLink("Lista de PS", "Index", "PS")</li>
                <li class="dropdown" style="left: auto">
                    <a style="font-weight: bold" class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Preferencias<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        
                        <li>@Html.ActionLink("Organizaciones", "Index", "Organizaciones")</li>
                        <li>@Html.ActionLink("Áreas", "Index", "Areas")</li>
                        <li>@Html.ActionLink("Tipos de PS", "Index", "TipoPSs")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                    </ul>
                </li>



            </ul>

            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>


<div class="container body-content">
    
    @RenderBody()

    @*<footer class="text-center" id="footer-zone">

            <p> - SiGePS &copy; @DateTime.Now.Year - Godesa Solutions ®  <a style="color:black ">@Html.ActionLink("Contacto", "Contact", "Home")</></a> - </p>
        </footer>*@
</div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div class="navbar-xs navbar-inverse navbar-fixed-bottom" style="background: none; border: none;padding-bottom: 0px">
        <div class="container text-center" style="height: 20px">
            <p> - SiGePS &copy; @DateTime.Now.Year - Godesa Solutions ®  <a style="color:black ">@Html.ActionLink("Contacto", "Contact", "Home")</></a> - </p>
        </div>
    </div>


  
    


</body>

</html>

@*<style>
    Habilitar este estilo si se quiere poner una barra divisora vertical
    en el navbar con el codigo <li class="divider-vertical"></li> en html

        .divider-vertical {
            height: 50px;
            margin: 0 9px;
            border-left: 1px solid #F2F2F2;
            border-right: 1px solid #FFF;
        }
    </style>*@