@model WebApplication1.Models.Alumno




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10" style="position: absolute;  left: 40%;transform: translate(0, -30%)">
                @Html.EditorFor(model => model.Legajo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresar Nº de Legajo..." } })
                @Html.ValidationMessageFor(model => model.Legajo, "", new { @class = "text-danger" })
                <br />
                @*<input class="form-control" id="alumno" value="Alumno..." readonly="readonly" />

                <br />*@
                <input type="submit" value="Buscar" class="btn btn-default" style="position: absolute;  left: 9%;transform: translate(0, -30%)" />
            </div>
        </div>

        @*<select class="js-example-basic-single" id="Legajo" style="font:small-caption; width: 200px; height:25px; background-color:beige;">
                <option value="">Ingresar Legajo...</option>
                @foreach (var item in ViewBag.alumnos)
                {
                    <option value="@item.Legajo">@item.Legajo - @item.NombreAlu, @item.ApellidoAlu</option>
                }
            </select>*@

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>*@
    @*<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@
    <script>
        /////////////////Start:Select searchable////////////////
        //$(document).ready(function() {
        //    $(".js-example-basic-single").select2();
        //});
        ////////////////End:Select searchable///////////////////


        /////////////Start:Autocomplete Cliente Address CuitCuil/////


        //$(document).ready(function() {
        //    $("#Legajo").change(function() {

        //        var options = {};
        //        options.url = "/PS/Getalumno";
        //        options.type = "GET";
        //        options.data = { "alu": $("#Legajo").val() };
        //        options.dataType = "json";
        //        options.success = function(data) {
        //            document.getElementById("alumno").value = data.NombreAlu;
        //        };
        //        $.ajax(options);
        //    });
        //});
        //////////////End:Autocomplete Cliente Address CuitCuil/////////////
    </script>

}
