@using WebApplication1.Models
@model WebApplication1.Models.PS

@{
	ViewBag.Title = "Details";
}



@*<script type="text/javascript" language="javascript" src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")'></script>*@
<script type="text/javascript" language="javascript" src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
<script type="text/javascript" language="javascript" src='@Url.Content("/sigeps/Scripts/jquery-1.12.4.min.js")'></script>

@*<script type="text/javascript" language="javascript" src='@Url.Content("/Scripts/jquery-1.12.4.min.js")'></script>
<script type="text/javascript" language="javascript" src='@Url.Content("/Scripts/bootstrap.min.js")'></script>

<script type="text/javascript" language="javascript" src='@Url.Content("/../Scripts/jquery-1.12.4.min.js")'></script>
<script type="text/javascript" language="javascript" src='@Url.Content("/../Scripts/bootstrap.min.js")'></script>

<script type="text/javascript" language="javascript" src='@Url.Content("../Scripts/jquery-1.12.4.min.js")'></script>
<script type="text/javascript" language="javascript" src='@Url.Content("../Scripts/bootstrap.min.js")'></script>*@

@*<script type="text/javascript" language="javascript" src='@Url.Content("/sigeps/Scripts/bootstrap.min.js")'></script>*@

<style>
    .sinmargenabajo {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0px;
    }
</style>
<div id="seleccion">
<h2 class="text-center">Detalles PS: @Model.Alumno.ApellidoAlu, @Model.Alumno.NombreAlu </h2>
<hr style="color:grey; border-color: grey;margin-bottom: 0px" />
@if (User.IsInRole("Administrador") | User.IsInRole("Moderador"))
{
	if (TempData["vencer"] != null)
	{
		{
			<input id="vencer" style="display: none" value="@TempData["vencer"]" />

		}

	}
}
<h4>@ViewBag.ErrorAprobarPS</h4>
   
    <div>

        <table class="table table-striped table-bordered sinmargenabajo ">
            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">

                <th class="text-left" width="10%" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Alumno.Legajo)
                </th>
                <th class="text-left" width="26%" style="border-radius: 3px">
                    @*@Html.DisplayNameFor(model => model.Alumno.NombreAlu)*@
                    Apellido y Nombre
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Estado)
                </th>

                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.CicloLectivo)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Cuatrimestre)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.TipoPS.NombreTipoPS)


                </th>


            </tr>
            <tr style="background-color: azure">
                <td class="text-left">
                    @Html.DisplayFor(model => model.Alumno.Legajo)
                </td>
                <td class="text-left">
                    @*@Html.DisplayFor(model => model.Alumno.NombreAlu)*@
                    @Model.Alumno.ApellidoAlu, @Model.Alumno.NombreAlu
                </td>
                <td class="text-left" style="font-weight: bold; font-style: italic">
                    @Html.DisplayFor(model => model.Estado)
                </td>

                <td class="text-left">
                    @Html.DisplayFor(model => model.CicloLectivo)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(model => model.Cuatrimestre)
                </td>
                <td class="text-left">
                    @*@Html.DisplayFor(model => model.TipoPS.NombreTipoPS)*@
                    @if (Model.TipoPS != null)
            {
                        @Html.DisplayFor(model => model.TipoPS.NombreTipoPS)
                    }
                    else
                    {
                        <text>- - -</text>
                    }
                </td>




            </tr>

        </table>

        <table class="table table-striped table-bordered sinmargenabajo ">
            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">


                <th class="text-left" width="10%" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.NroDisposicion)
                </th>
                <th class="text-left" width="26%" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.FechaFinalizacion)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.ObservacionesPS)
                </th>
            </tr>
            <tr style="background-color: azure">


                <td class="text-left">
                    @if (Model.NroDisposicion != null)
            {
                        @Html.DisplayFor(model => model.NroDisposicion)
                    }
                    else
                    {
                        <text>- - -</text>
                    }


                </td>
                <td class="text-left">
                    @Html.DisplayFor(model => model.FechaFinalizacion)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(model => model.ObservacionesPS)
                </td>
            </tr>
        </table>



        <table class="table table-striped table-bordered ">

            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
                <th class="text-left" width="21%" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.TituloProyecto)


                </th>

                <th class="text-left" width="15%" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Tutor)



                </th>


                <th class="text-left" width="14%" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Area.NombreArea)
                </th>
                <th class="text-left" width="15%" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Organizacion.DenominacionOrg)
                </th>
                @if (User.IsInRole("Administrador") | User.IsInRole("Moderador"))
                {
                    <th class="text-center hidden-print" style="border-radius: 3px">Acciones</th>

                }


            </tr>



            <tr style="background-color: azure">
                <td class="text-left">
                    @*@Html.DisplayFor(model => model.TituloProyecto)*@
                    @if (Model.TituloProyecto != null)
                    {
                        @Html.DisplayFor(model => model.TituloProyecto)
                    }
                    else
                    {
                        <text>- - -</text>
                    }
                </td>
                <td class="text-left">
                    @*@Html.DisplayFor(model => model.Tutor)*@
                    @if (Model.Tutor != null)
                    {
                        @Html.DisplayFor(model => model.Tutor)
                    }
                    else
                    {
                        <text>- - -</text>
                    }
                </td>


                <td class="text-left">
                    @*@Html.DisplayFor(model => model.Area.NombreArea)*@

                    @if (Model.Area != null)
                    {
                        @Html.DisplayFor(model => model.Area.NombreArea)
                    }
                    else
                    {
                        <text>- - -</text>
                    }

                </td>
                <td class="text-left">
                    @*@Html.DisplayFor(model => model.Organizacion.DenominacionOrg)*@

                    @if (Model.Organizacion != null)
                    {
                        @Html.DisplayFor(model => model.Organizacion.DenominacionOrg)
                    }
                    else
                    {
                        <text>- - -</text>
                    }
                </td>

                @if (User.IsInRole("Administrador") | User.IsInRole("Moderador"))
                {
                    <td class="text-center hidden-print">

                        @if (Model.Estado == WebApplication1.Models.Estado.Plan_Pendiente || Model.Estado == WebApplication1.Models.Estado.Plan_Desaprobado)
                        {
                            @*@Html.ActionLink("Agregar plan", "Create", "PresentacionPlanes", new { id = Model.IdPS }, new { @class = "btn btn-primary btn-sm dialog-window5", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })*@

                            <a href="@Url.Action("Create", "PresentacionPlanes", new {id = Model.IdPS})" class="btn btn-primary btn-sm dialog-window5" style="color: white; font-size: 13px; line-height: inherit; border-radius: 5px; font-weight: 500">Plan <span class="glyphicon glyphicon-plus"></span></a>


                        }
                        else
                        {
                            @*@Html.ActionLink("Agregar plan", "Create", "PresentacionPlanes", new { id = Model.IdPS }, new { @class = "btn btn-primary btn-sm disabled", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })*@
                            <a href="@Url.Action("Create", "PresentacionPlanes", new {id = Model.IdPS})" class="btn btn-primary btn-sm disabled" style="color: white; font-size: 13px; line-height: inherit; border-radius: 5px; font-weight: 500">Plan <span class="glyphicon glyphicon-plus"></span></a>

                        }



                        @if (Model.Estado == WebApplication1.Models.Estado.Plan_Aprobado || Model.Estado == WebApplication1.Models.Estado.Informe_Desaprobado)
                        {

                            @*@Html.ActionLink("Agregar informe", "Create", "PresentacionInformes", new { id = Model.IdPS }, new { @class = "btn btn-primary btn-sm dialog-window6", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })*@

                            <a href="@Url.Action("Create", "PresentacionInformes", new {id = Model.IdPS})" class="btn btn-primary btn-sm dialog-window6" style="color: white; font-size: 13px; line-height: inherit; border-radius: 5px; font-weight: 500">Informe <span class="glyphicon glyphicon-plus"></span></a>

                        }
                        else
                        {
                            @*@Html.ActionLink("Agregar informe", "Create", "PresentacionInformes", new { id = Model.IdPS }, new { @class = "btn btn-primary btn-sm disabled", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })*@

                            <a href="@Url.Action("Create", "PresentacionInformes", new {id = Model.IdPS})" class="btn btn-primary btn-sm disabled" style="color: white; font-size: 13px; line-height: inherit; border-radius: 5px; font-weight: 500">Informe <span class="glyphicon glyphicon-plus"></span></a>

                        }






                        <div class="btn-group">
                            <a aria-expanded="false" href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                Finalizar
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Administrador") == false & User.IsInRole("Moderador") == false)
                                {
                                    <li><a href="#" onclick="event.stopPropagation()" style="color: grey">Aprobar PS</a></li>
                                }

                                else if (Model.Estado != WebApplication1.Models.Estado.Informe_Aprobado)
                                {
                                    <li><a href="#" onclick="event.stopPropagation()" style="color: grey">Aprobar PS</a></li>
                                }

                                else
                                {
                                    <li>@Html.ActionLink("Aprobar PS", "AprobarPS", "PS", new { id = Model.IdPS }, new { @class = "dialog-window8" })</li>
                                }



                                @if (Model.Estado == WebApplication1.Models.Estado.PS_Aprobada || Model.Estado == WebApplication1.Models.Estado.PS_Cancelada || Model.Estado == WebApplication1.Models.Estado.PS_Vencida || Model.Estado == WebApplication1.Models.Estado.Plan_Rechazado)
                                {
                                    <li><a href="#" onclick="event.stopPropagation()" style="color: grey">Cancelar PS</a></li>
                                }
                                else if (User.IsInRole("Administrador") == false & User.IsInRole("Cancelar PS") == false)
                                {
                                    <li><a href="#" onclick="event.stopPropagation()" style="color: grey">Cancelar PS</a></li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Cancelar PS", "CancelarPS", "PS", new { id = Model.IdPS }, new { @class = "dialog-window7" })</li>
                                }

                                @if (Model.Estado == WebApplication1.Models.Estado.PS_Aprobada)
                                {
                                    <li>@Html.ActionLink("Disposición", "NumeroDisposicion", "PS", new { id = Model.IdPS }, new { @class = "dialog-window20" })</li>
                                }
                                else
                                {
                                    <li><a href="#" onclick="event.stopPropagation()" style="color: grey">Disposición</a></li>
                                }

                                @if (Model.Estado == WebApplication1.Models.Estado.Plan_Entregado
         || Model.Estado == WebApplication1.Models.Estado.Plan_Desaprobado
         || Model.Estado == WebApplication1.Models.Estado.Plan_Aprobado
         || Model.Estado == WebApplication1.Models.Estado.Informe_Entregado
         || Model.Estado == WebApplication1.Models.Estado.Informe_Aprobado
         || Model.Estado == WebApplication1.Models.Estado.Informe_Desaprobado)


                                {
                                    if (Model.Vencimiento < DateTime.Now)
                                    {
                                        <li> @Html.ActionLink("Vencer PS", "VencerPS", "PS", new { id = Model.IdPS }, new { @class = "dialog-window30" }) </li>
                                    }
                                    else
                                    {
                                        <li><a href="#" onclick="event.stopPropagation()" style="color: grey"> Vencer PS </a></li>
                                    }
                                }
                                else
                                {
                                    <li><a href="#" onclick="event.stopPropagation()" style="color: grey"> Vencer PS </a></li>
                                }

                            </ul>



                        </div>
                        @if (User.IsInRole("Administrador") | User.IsInRole("Editar PS"))

                        {
                            @Html.ActionLink("Editar", "Edit", new { id = Model.IdPS }, new { @class = "dialog-window1 btn btn-primary btn-sm" })


                        }




                    </td>

                }






            </tr>
        </table>



        <div>
            @Html.Action("Details2", "PresentacionPlanes", new { idps = Model.IdPS })
        </div>

        <div>
            @Html.Action("Details2", "PresentacionInformes", new { idps = Model.IdPS })
        </div>


    </div>
</div>

<div class="hidden-print text-center">
    <a class="btn btn-sm btn-warning hidden-print" onclick="window.print('#seleccion');">
        Imprimir

    </a>
</div>
<p>
	@if (ViewBag.vuelta!=null)
	{
		<a href="@Url.Action("HistorialPS")" class="btn btn-default hidden-print"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
					}
	else
	{
		<a href="@Url.Action("Index")" class="btn btn-default hidden-print"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
				}
</p>
	@*@Html.ActionLink("Volver", "Index",null,new {@class="btn btn-default btn-sm"})*@

				 <div class="modal fade" id="myModal1" role="dialog"
					  aria-labelledby="myModalLabel" aria-hidden="true">
					 <div class="modal-dialog">
						 <div class="modal-content">
							 <div class="modal-header">
								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								 <h4 class="modal-title text-center">Editar PS</h4>
							 </div>
							 <div class="modal-body">
								 <div class="te">Espere...</div>
							 </div>

						 </div>

					 </div>

				 </div>
<div class="modal fade" id="myModal10" role="dialog"
	 aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title text-center">Agregar Plan</h4>
			</div>
			<div class="modal-body">
				<div class="te">Espere...</div>
			</div>

		</div>

	</div>

</div>
<div class="modal fade" id="myModal5" role="dialog"
	 aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title text-center">Agregar Plan</h4>
			</div>
			<div class="modal-body">
				<div class="te">Espere...</div>
			</div>

		</div>

	</div>

</div>

<div class="modal fade" id="myModal6" role="dialog"
	 aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title text-center">Agregar Informe</h4>
			</div>
			<div class="modal-body">
				<div class="te">Espere...</div>
			</div>

		</div>

	</div>

</div>

<div class="modal fade" id="myModal7" role="dialog"
	 aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title text-center">¿Está seguro de Cancelar la PS?</h3>
			</div>
			<div class="modal-body">
				<h5 class="text-danger text-center">Al cancelar esta PS no se podrán volver a realizar cambios sobre ella</h5>
				<div class="te">Espere...</div>
			</div>

		</div>

	</div>

</div>

<div class="modal fade" id="myModal8" role="dialog"
	 aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title text-center">¿Está seguro de aprobar la PS?</h3>
			</div>
			<div class="modal-body">
				<h5 class="text-danger text-center">Al aprobar esta PS no se podrán volver a realizar cambios sobre ella</h5>
				<div class="te">Espere...</div>
			</div>

		</div>

	</div>

</div>
<div class="modal fade" id="myModal20" role="dialog"
	 aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title text-center">Cargar Nro. de Disposición</h3>
			</div>
			<div class="modal-body">
				<div class="te">Espere...</div>
			</div>

		</div>

	</div>

</div>
<div class="modal fade" id="myModal30" role="dialog"
	 aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title text-center">Vencer PS</h3>
			</div>
			<div class="modal-body">
				<div class="te">Espere...</div>
			</div>

		</div>

	</div>

</div>

@*<script type="text/javascript" src="http://localhost:8080/sigeps12/Scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/sigeps12/Scripts/bootstrap.min.js"></script>*@
<script>
    
    $(document).ready(function () {
        $("body").on("click", "a.dialog-window1", null, function (e){
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal1.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal1').modal('show');
            }
            else
            {
                $.get(url, function (data) {
                    $('#myModal1 .te').html(data);
                    $('#myModal1').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });


        $("body").on("click", "a.dialog-window5", null, function (e) {
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal5.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal5').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal5 .te').html(data);
                    $('#myModal5').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });
	

        $("body").on("click", "a.dialog-window6", null, function (e) {
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal6.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal6').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal6 .te').html(data);
                    $('#myModal6').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });

	
        $("body").on("click", "a.dialog-window7", null, function (e){
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal7.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal7').modal('show');
            }
            else
            {
                $.get(url, function (data) {
                    $('#myModal7 .te').html(data);
                    $('#myModal7').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });

		

        $("body").on("click", "a.dialog-window8", null, function (e) {
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal8.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal8').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal8 .te').html(data);
                    $('#myModal8').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });

        $("body").on("click", "a.dialog-window10", null, function (e) {
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal10.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal10').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal10 .te').html(data);
                    $('#myModal10').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });

        $("body").on("click", "a.dialog-window20", null, function (e) {
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal20.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal10').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal20 .te').html(data);
                    $('#myModal20').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });
        $("body").on("click", "a.dialog-window30", null, function (e) {
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal20.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal30').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal30 .te').html(data);
                    $('#myModal30').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });
    });

    function printData() {
        var divToPrint = document.getElementById("seleccion");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
    /////////SCRIPT DE UPLOAD FILES

    $('#txtUploadFile').on('change', function (e) {
        var files = e.target.files;
        var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '/MyController/UploadFile?id=' + myID,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("Este navegador no soporta la funcionalidad para subir archivos!");
            }
        }
    });
</script>
