@model WebApplication1.Models.PS

@{
    ViewBag.Title = "Detalles PS";
}

<h2>Detalles PS</h2>

<div>
    <div>
        <table class="table table-striped table-bordered ">

            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">

                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Alumno.Legajo)
                </th>
                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Alumno.ApellidoAlu)
                </th>
                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Alumno.NombreAlu)
                </th>
                
            </tr>
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(model => model.Alumno.Legajo)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(model => model.Alumno.ApellidoAlu)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(model => model.Alumno.NombreAlu)
                </td>
                

            </tr>
        </table>
    </div>




    <div>
        <table class="table table-striped table-bordered ">

            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">

                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.TituloProyecto)
                </th>
                
                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.NroDisposicion)
                </th>
            </tr>
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(model => model.TituloProyecto)
                </td>
                <td class="text-left" style="font-weight: bold; font-style: italic">
                    @Html.DisplayFor(model => model.Estado)
                </td>

                <td class="text-left">
                    @Html.DisplayFor(model => model.NroDisposicion)
                </td>



            </tr>
        </table>
    </div>

    <div>
        <table class="table table-striped table-bordered ">

            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.TipoPS.NombreTipoPS)
                </th>
                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Area.NombreArea)
                </th>


                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Organizacion.DenominacionOrg)
                </th>
            </tr>
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(model => model.TipoPS.NombreTipoPS)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(model => model.Area.NombreArea)
                </td>


                <td class="text-left">
                    @Html.DisplayFor(model => model.Organizacion.DenominacionOrg)
                </td>

            </tr>
        </table>
    </div>

    <div>
        <table class="table table-striped table-bordered ">

            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Tutor)
                </th>
                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Cuatrimestre)
                </th>
                <th class="col-lg-4" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.CicloLectivo)
                </th>
            </tr>
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(model => model.Tutor)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(model => model.Cuatrimestre)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(model => model.CicloLectivo)
                </td>
        </table>
    </div>

    

        <div>
            @Html.Action("Details2", "PresentacionPlanes", new { idps = Model.IdPS })
        </div>
        <div>
            @Html.Action("Details2", "PresentacionInformes", new { idps = Model.IdPS })
        </div>




    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdPS }) |
        @Html.ActionLink("Volver", "Index")
    </p>
