@model WebApplication1.Models.PS

@{
	ViewBag.Title = "Details";
}

<h2 class="text-center">Detalles Generales</h2>
<hr style="color:grey;border-color:grey" />

<h4>@ViewBag.ErrorAprobarPS</h4>
<div>

	<table class="table table-striped table-bordered ">
		<tr class="text-center" style="color: #2c3e50; background-color: lightblue">

			<th class="text-left" style="border-radius: 3px">
				@Html.DisplayNameFor(model => model.Alumno.Legajo)
			</th>
			<th class="text-left" style="border-radius: 3px">
				@*@Html.DisplayNameFor(model => model.Alumno.NombreAlu)*@
				Apellido y Nombre
			</th>
			<th class="text-left" style="border-radius: 3px">
				@Html.DisplayNameFor(model => model.Estado)
			</th>
			<th class="text-left" style="border-radius: 3px">
				@Html.DisplayNameFor(model => model.NroDisposicion)
			</th>
			<th class="text-left" style="border-radius: 3px">
				@Html.DisplayNameFor(model => model.Area.NombreArea)
			</th>
			<th class="text-left" style="border-radius: 3px">
				@Html.DisplayNameFor(model => model.Organizacion.DenominacionOrg)
			</th>
		</tr>
		<tr>
			<td class="text-left">
				@Html.DisplayFor(model => model.Alumno.Legajo)
			</td>
			<td class="text-left">
				@*@Html.DisplayFor(model => model.Alumno.NombreAlu)*@
			   @Model.Alumno.ApellidoAlu, @Model.Alumno.NombreAlu
			</td>
			<td class="text-left" style="font-weight: bold; font-style: italic">
				@Html.DisplayFor(model => model.Estado)
			</td>

			<td class="text-left">
				@Html.DisplayFor(model => model.NroDisposicion)
			</td>
			<td class="text-left">
				@Html.DisplayFor(model => model.Area.NombreArea)
			</td>
			<td class="text-left">
				@Html.DisplayFor(model => model.Organizacion.DenominacionOrg)
			</td>
		</tr>
		<tr class="text-center" style="color: #2c3e50; background-color: lightblue">
			<th class="text-left" style="border-radius: 3px">
				@Html.DisplayNameFor(model => model.Tutor)
			</th>
			<th class="text-left" style="border-radius: 3px">
				@Html.DisplayNameFor(model => model.TituloProyecto)
			</th>
			<th class="text-left" style="border-radius: 3px">
				@Html.DisplayNameFor(model => model.CicloLectivo)
			</th>
			<th class="text-left" style="border-radius: 3px">
				@Html.DisplayNameFor(model => model.Cuatrimestre)
			</th>
			<th class="text-left" style="border-radius: 3px">
				@Html.DisplayNameFor(model => model.TipoPS.NombreTipoPS)
			</th>


		</tr>



		<tr>
			<td class="text-left">
				@Html.DisplayFor(model => model.Tutor)
			</td>
			<td class="text-left">
				@Html.DisplayFor(model => model.TituloProyecto)
			</td>
			<td class="text-left">
				@Html.DisplayFor(model => model.CicloLectivo)
			</td>
			<td class="text-left">
				@Html.DisplayFor(model => model.Cuatrimestre)
			</td>
			<td class="text-left">
				@Html.DisplayFor(model => model.TipoPS.NombreTipoPS)
			</td>
			<td class="text-left">
                @if (Model.Estado == WebApplication1.Models.Estado.Plan_Pendiente || Model.Estado == WebApplication1.Models.Estado.Plan_Desaprobado)
                {@Html.ActionLink("Plan +", "Create", "PresentacionPlanes", new { id = Model.IdPS }, new { @class = "btn btn-primary btn-sm dialog-window5", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })}
                else
                {@Html.ActionLink("Plan +", "Create", "PresentacionPlanes", new { id = Model.IdPS }, new { @class = "btn btn-primary btn-sm disabled", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })
                }

                @if (Model.Estado == WebApplication1.Models.Estado.Plan_Aprobado || Model.Estado == WebApplication1.Models.Estado.Informe_Desaprobado)
                {@Html.ActionLink("Informe +", "Create", "PresentacionInformes", new { id = Model.IdPS }, new { @class = "btn btn-primary btn-sm dialog-window6", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })}
                else
                {@Html.ActionLink("Informe +", "Create", "PresentacionInformes", new { id = Model.IdPS }, new { @class = "btn btn-primary btn-sm disabled", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })}
                @Html.ActionLink("Editar", "Edit", new { id = Model.IdPS }, new { @class = "dialog-window1 btn btn-primary btn-sm" })

                                
                <div class="btn-group">
                    <a aria-expanded="false" href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                        Acciones
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Cancelar PS", "CancelarPS", "PS", new { id = Model.IdPS }, new { @class = "dialog-window7" })</li>
                            @if (Model.Estado == WebApplication1.Models.Estado.Informe_Aprobado)
                            {
                                <li>@Html.ActionLink("Aprobar PS", "AprobarPS", "PS", new { id = Model.IdPS }, new { @class = "dialog-window8" })</li>
                            }
                            else
                            {
                                <li><a href="#" style="color: grey">Aprobar PS</a></li>
                            }

                    </ul>
                </div>


            </td>
		</tr>
	</table>
	<div>
		@Html.Action("Details2", "PresentacionPlanes", new { idps = Model.IdPS })
	</div>
	<div>
		@Html.Action("Details2", "PresentacionInformes", new { idps = Model.IdPS })
	</div>
    
	
</div>
<p>
    <a href="@Url.Action("Index", "PS")" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
	@*@Html.ActionLink("Volver", "Index",null,new {@class="btn btn-default btn-sm"})*@
</p>
                 <div class="modal fade" id="myModal1" role="dialog"
                      aria-labelledby="myModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                 <h4 class="modal-title"></h4>
                             </div>
                             <div class="modal-body">
                                 <div class="te">Espere...</div>
                             </div>

                         </div>

                     </div>

                 </div>

<div class="modal fade" id="myModal5" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Agregar Plan</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="myModal6" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Agregar Informe</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="myModal7" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>¿Está seguro de Cancelar la PS?</h3>
            </div>
            <div class="modal-body">
                <h5 class="text-danger">Al cancelar esta PS no se podrán volver a realizar cambios sobre ella</h5>
                <div class="te">Espere...</div>
            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="myModal8" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>¿Está seguro de aprobar la PS?</h3>
            </div>
            <div class="modal-body">
                <h5 class="text-danger">Al aprobar esta PS no se podrán volver a realizar cambios sobre ella</h5>
                <div class="te">Espere...</div>
            </div>

        </div>

    </div>

</div>

<script>
	$(document).ready(function () {
		$("body").on("click", "a.dialog-window1", null, function (e){
			e.preventDefault();

			var $link = $(this); // Reference to <a/> link
			var title = $link.text(); //this is title to fetch in htnl
			$('#myModal1.modal-title').html(title);

			var url = $(this).attr('href');
			if (url.indexOf('#') == 0) {
				$('#myModal1').modal('show');
			}
			else
			{
				$.get(url, function (data) {
					$('#myModal1 .te').html(data);
					$('#myModal1').modal();
				}).success(function () { $('input:text:visible:first').focus(); });
			}
		});


		$("body").on("click", "a.dialog-window5", null, function (e) {
		    e.preventDefault();

		    var $link = $(this); // Reference to <a/> link
		    var title = $link.text(); //this is title to fetch in htnl
		    $('#myModal5.modal-title').html(title);

		    var url = $(this).attr('href');
		    if (url.indexOf('#') == 0) {
		        $('#myModal5').modal('show');
		    }
		    else {
		        $.get(url, function (data) {
		            $('#myModal5 .te').html(data);
		            $('#myModal5').modal();
		        }).success(function () { $('input:text:visible:first').focus(); });
		    }
		});
	

	$("body").on("click", "a.dialog-window6", null, function (e) {
	    e.preventDefault();

	    var $link = $(this); // Reference to <a/> link
	    var title = $link.text(); //this is title to fetch in htnl
	    $('#myModal6.modal-title').html(title);

	    var url = $(this).attr('href');
	    if (url.indexOf('#') == 0) {
	        $('#myModal6').modal('show');
	    }
	    else {
	        $.get(url, function (data) {
	            $('#myModal6 .te').html(data);
	            $('#myModal6').modal();
	        }).success(function () { $('input:text:visible:first').focus(); });
	    }
	});

	
	    $("body").on("click", "a.dialog-window7", null, function (e){
	        e.preventDefault();

	        var $link = $(this); // Reference to <a/> link
	        var title = $link.text(); //this is title to fetch in htnl
	        $('#myModal7.modal-title').html(title);

	        var url = $(this).attr('href');
	        if (url.indexOf('#') == 0) {
	            $('#myModal7').modal('show');
	        }
	        else
	        {
	            $.get(url, function (data) {
	                $('#myModal7 .te').html(data);
	                $('#myModal7').modal();
	            }).success(function () { $('input:text:visible:first').focus(); });
	        }
	    });

	    $("body").on("click", "a.dialog-window8", null, function (e) {
	        e.preventDefault();

	        var $link = $(this); // Reference to <a/> link
	        var title = $link.text(); //this is title to fetch in htnl
	        $('#myModal8.modal-title').html(title);

	        var url = $(this).attr('href');
	        if (url.indexOf('#') == 0) {
	            $('#myModal8').modal('show');
	        }
	        else {
	            $.get(url, function (data) {
	                $('#myModal8 .te').html(data);
	                $('#myModal8').modal();
	            }).success(function () { $('input:text:visible:first').focus(); });
	        }
	    });
	});
</script>
