@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.PS>

@{
    ViewBag.Title = "PSs";
}
<div>
    <h1 class="text-center ">Prácticas Supervisadas en curso</h1>
    <hr style="color:grey;border-color:grey" />
</div>

<p>
    <div class="row">

        <div class="col-lg-6">
            @Html.ActionLink("Nueva PS", "Create", "PS", null, new { @class = "btn btn-success btn-md text-left", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })

        
        </div>

        <div class="col-lg-6 text-right">
            @Html.ActionLink("Historial", "HistorialPS", "PS", null, new { @class = "btn btn-default btn-md text-right", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })

        </div>
    </div>

</p>

@if (Model.Count() == 0)
{<br /><hr style="color:darkblue;border-color:darkblue" />
    <div class="text-center">

        <h2 style="color: chocolate">
            No existen Prácticas en curso actualmente, puede acceder al historial completo haciendo click @Html.ActionLink("Aquí", "HistorialPS", "PS").
        </h2>

    </div>    <hr style="color:darkblue;border-color:darkblue" />}
else
{

    <table id="mitabla" class="table table-striped table-bordered">
        <thead>
            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">

                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Alumno.Legajo)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    Apellido y Nombre
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.NroDisposicion)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Area.NombreArea)
                </th>

                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.CicloLectivo)
                </th>

                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th class="text-center" style="border-radius: 3px">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Alumno.Legajo)
                    </td>
                    <td class="text-left">
                        @item.Alumno.ApellidoAlu, @item.Alumno.NombreAlu
                    </td>
                    <td class="text-left">
                        @if (item.NroDisposicion != null)
                    {
                            @Html.DisplayFor(modelItem => item.NroDisposicion)
                        }
                        else
                        {<text>- - -</text>
                        }
                    </td>
                    <td class="text-left">
                        @*@Html.DisplayFor(modelItem => item.Area.NombreArea)*@
                        @if (item.Area != null)
                    {
                            @Html.DisplayFor(modelItem => item.Area.NombreArea)
                        }
                        else
                        {
                            <text>- - -</text>
                        }
                    </td>

                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.CicloLectivo)
                    </td>

                    <td class="text-left" style="font-weight: bold; font-style: italic;">
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td class="text-center">



                        @if (item.PresentacionesPlanes.Count() == 0)
                        {

                            @*@Html.ActionLink("1er Plan", "CreatePrimerPlan", "PS", new { id = item.IdPS }, new { @class = "btn btn-primary btn-sm dialog-window10", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })*@

                            <a href="@Url.Action("CreatePrimerPlan", "PS", new { id = item.IdPS })" class="btn btn-primary btn-sm dialog-window10" style="color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500">Plan  <span class="glyphicon glyphicon-plus"></span></a>



                        }
                        else if (item.Estado == Estado.Plan_Pendiente || item.Estado == Estado.Plan_Desaprobado)
                        {

                            @*@Html.ActionLink("Plan +", "Create", "PresentacionPlanes", new { id = item.IdPS }, new { @class = "dialog-window2 btn btn-primary btn-sm", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })*@

                            <a href="@Url.Action("Create", "PresentacionPlanes", new { id = item.IdPS })" class="btn btn-primary btn-sm dialog-window2" style="color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500">Plan  <span class="glyphicon glyphicon-plus"></span></a>

                        }
                        else
                        {

                            @*@Html.ActionLink("Plan +", "Create", "PresentacionPlanes", new { id = item.IdPS }, new { @class = "btn btn-primary btn-sm disabled", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })*@

                            <a href="@Url.Action("Create", "PresentacionPlanes", new { id = item.IdPS })" class="btn btn-primary btn-sm disabled" style="color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500">Plan  <span class="glyphicon glyphicon-plus"></span></a>

                        }

                        @if (item.Estado == Estado.Plan_Aprobado || item.Estado == Estado.Informe_Desaprobado)
                        {

                            @*@Html.ActionLink("Informe +", "Create", "PresentacionInformes", new { id = item.IdPS }, new { @class = "dialog-window3 btn btn-primary btn-sm", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })*@

                            <a href="@Url.Action("Create", "PresentacionInformes", new {id = item.IdPS})" c class="btn btn-primary btn-sm dialog-window3" style="color: white; font-size: 13px; line-height: inherit; border-radius: 5px; font-weight: 500">Informe <span class="glyphicon glyphicon-plus"></span></a>

                        }

                        else
                        {

                            @*@Html.ActionLink("Informe +", "Create", "PresentacionInformes", new { id = item.IdPS }, new { @class = "btn btn-primary btn-sm disabled", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })*@

                            <a href="@Url.Action("Create", "PresentacionInformes", new { id = item.IdPS })" class="btn btn-primary btn-sm disabled" style="color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500">Informe  <span class="glyphicon glyphicon-plus"></span></a>

                        }



                        @Html.ActionLink("Detalles", "Details", new { id = item.IdPS, var = false }, new { @class = "btn btn-primary btn-sm", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPS }, new { @class = "dialog-window1 btn btn-primary btn-sm", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })
                    </td>















                </tr>
            }
        </tbody>
    </table>}
<div class="modal fade" id="myModal10" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Primer Plan</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>

        </div>

    </div>

</div>
<div class="modal fade" id="myModal1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">¿Está seguro de eliminar permanentemente esta PS?</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="myModal2" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Agregar Plan</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="myModal3" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Agregar Informe</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>

        </div>

    </div>

</div>



@section scripts
{

    <script>

        $(document).ready(function () {

            ////Grilla automatica//
            $("#mitabla").DataTable({
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                }
            });

            ////////////////

            ///////////Eliminar PS////
            $("body").on("click", "a.dialog-window1", null, function (e) {
                e.preventDefault();

                var $link = $(this); // Reference to <a/> link
                var title = $link.text(); //this is title to fetch in htnl
                $('#myModal1.modal-title').html(title);

                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#myModal1').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#myModal1 .te').html(data);
                        $('#myModal1').modal();
                    }).success(function () { $('input:text:visible:first').focus(); });
                }
            });
            //////////////

            //////////+PLAN/////
            $("body").on("click", "a.dialog-window2", null, function (e) {
                e.preventDefault();

                var $link = $(this); // Reference to <a/> link
                var title = $link.text(); //this is title to fetch in htnl
                $('#myModal2.modal-title').html(title);

                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#myModal2').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#myModal2 .te').html(data);
                        $('#myModal2').modal();
                    }).success(function () { $('input:text:visible:first').focus(); });
                }
            });
            ////////////////

            //////////////+INFORME/////
            $("body").on("click", "a.dialog-window3", null, function (e) {
                e.preventDefault();

                var $link = $(this); // Reference to <a/> link
                var title = $link.text(); //this is title to fetch in htnl
                $('#myModal3.modal-title').html(title);

                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#myModal3').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#myModal3 .te').html(data);
                        $('#myModal3').modal();
                    }).success(function () { $('input:text:visible:first').focus(); });
                }
            });
            ///////////////////////////
            $("body").on("click", "a.dialog-window10", null, function (e) {
                e.preventDefault();

                var $link = $(this); // Reference to <a/> link
                var title = $link.text(); //this is title to fetch in htnl
                $('#myModal10.modal-title').html(title);

                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#myModal10').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#myModal10 .te').html(data);
                        $('#myModal10').modal();
                    }).success(function () { $('input:text:visible:first').focus(); });
                }
            });
        });

    </script>



}


