@model WebApplication1.Models.PS
@{
    Layout = null;
}


@*@{
    ViewBag.Title = "HistorialInformes";
}*@
<style>
    .resaltar tbody tr td {
        background-color: khaki;
    }

    .resaltar tbody tr:first-child td {
        background-color: lightgreen;
        font-weight: bold;
    }
</style>

<div id="cerrar1">

    <table class="table table-striped table-bordered table-condensed resaltar">
        <thead>
            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">

                <th class="text-left" style="border-radius: 3px">
                    @*@Html.DisplayNameFor(model => model.PresentacionesPlanes.FechaPresentacionPlan)*@
                    Fecha Presentación
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @*@Html.DisplayNameFor(model => model.FechaEvaluacionPlan)*@
                    Fecha Evaluación
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @*@Html.DisplayNameFor(model => model.EstadoEvaluacionPlan)*@
                    Evaluación
                </th>
                <th class="text-left" style="border-radius: 3px; width: 500px">
                    @*@Html.DisplayNameFor(model => model.ObservacionesPlan)*@
                    Observaciones
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.PresentacionesInforme)
            {
                <tr>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.FechaPresentacionInforme)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.FechaEvaluacionInforme)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.EstadoEvaluacionInforme)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.ObservacionesInforme)
                    </td>
                    @*<td class="text-left">
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdPresentacionPlan }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.IdPresentacionPlan }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPresentacionPlan })
                    </td>*@
                </tr>
            }
        </tbody>
</table>
    @*@Ajax.ActionLink("Cerrar historial informes...", "Vacio", "Home", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "cerrar1",

}
                    )*@
    <div class="row text-center">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>

</div>