@using System.Web.UI.WebControls
@model WebApplication1.Models.PresentacionInforme
@{
    Layout = null;
}

<head>

    <script>
        $(document).ready(function() {
            $("#botonGuardar").prop("disabled", true);
        });

        function Formato() {

            if (($('#uploadFile').val().split('.')[1] != "pdf")) {
                event.preventDefault();
                $('#archivopdf').text("El formato de archivo debe ser PDF");
                $("#botonGuardar").prop("disabled", true);
            } else {
                $('#archivopdf').text("");
                $("#botonGuardar").prop("disabled", false);

            }

        }


    </script>

</head>

@using (Html.BeginForm("Upload", "PresentacionInformes", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.FechaEvaluacionInforme)
    @Html.HiddenFor(model => model.EstadoEvaluacionInforme)
    @Html.HiddenFor(model => model.FechaPresentacionInforme)
    @Html.HiddenFor(model => model.PS)
    @Html.HiddenFor(model => model.IdPS)
    @Html.HiddenFor(model => model.IdPresentacionInforme)
    @Html.HiddenFor(model => model.ObservacionesInforme)


    <div>

        <div class="form-group">
            <input type="number" value="@Model.IdPresentacionInforme" name="idPresentacionInforme" style="display: none" />
            <input type="number" value="@Model.IdPS" name="idPS" style="display: none" />
            <input type="file" onchange="Formato()" name="uploadFile" id="uploadFile" /><br />
            <span id="archivopdf" style="color: red"></span>
        </div>

    </div>
    <div class="form-group text-center">

        <button type="button" class="btn btn-default"   data-dismiss="modal">Cerrar</button>
        <input type="submit" value="Guardar" id="botonGuardar" class="btn btn-success">


    </div>
}



