@model WebApplication1.Models.Organizacion

@{
    Layout = null;
}

<h4>Si existen PS relacionadas con esta organización no podrá realizar esta acción</h4>

<br/>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DenominacionOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DenominacionOrg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionOrg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoOrg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionOrg)
        </dd>

    </dl>

    <br/>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
            
        </div>
    }
</div>
