@model WebApplication1.Models.Organizacion

@{
    ViewBag.Title = "Detalles organización";
}

<h2 class="text-center">Detalles de organización</h2>
<hr style="color:grey;border-color:grey" />
<br/>

<div>
    <dl class="dl-horizontal">
        <table class="table table-striped table-bordered ">
            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
                <th class="text-left" style="border-radius: 5px">
                    @Html.DisplayNameFor(model => model.DenominacionOrg)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.DireccionOrg)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.TelefonoOrg)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.DescripcionOrg)
                </th>

            </tr>

            <tr>
                <td class="text-left">
                    @Html.DisplayFor(model => model.DenominacionOrg)                    
                </td>
                <td class="text-left">
                    @if (Model.DireccionOrg != null)
                    {
                        @Html.DisplayFor(model => model.DireccionOrg)
                    }
                    else
                    {
                        <text>- - -</text>
                    }                
                </td>
                <td class="text-left">
                    @if (Model.TelefonoOrg != null)
                    {
                        @Html.DisplayFor(model => model.TelefonoOrg)
                    }
                    else
                    {
                        <text>- - -</text>
                    }
                                        
                </td>
                <td class="text-left">
                    @if (Model.DescripcionOrg != null)
                    {
                        @Html.DisplayFor(model => model.DescripcionOrg)
                    }
                    else
                    {
                        <text>- - -</text>
                    }                   
                </td>

            </tr>
        </table>
        
        <br />
    </dl>
</div>
<p>
    
    <a href="@Url.Action("Index", "Organizaciones")" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
    @Html.ActionLink("Editar", "Edit", "Organizaciones", new {id = Model.IdOrganizacion}, new {@class = "btn btn-success"})

</p>
