@model WebApplication1.Models.Organizacion

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de @Model.DenominacionOrg</h2>

<br/>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DenominacionOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DenominacionOrg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionOrg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoOrg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionOrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionOrg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdOrganizacion } ) 
    <a href="@Url.Action("Index", "Organizaciones")" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
</p>
