@model WebApplication1.Models.Alumno

@{
    ViewBag.Title = "Nuevo alumno";
}

<h2>Nuevo</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Alumno:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdAlumno)

        <table class="table table-striped table-bordered ">


            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
                <th class="text-left" style="border-radius: 5px">
                    @Html.DisplayNameFor(model => model.Legajo)
                </th>
                <th class="text-center" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.NombreAlu)
                </th>
                <th class="text-center" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.ApellidoAlu)
                </th>
                <th class="text-center" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.CorreoAlu)
                </th>
                @*<th style="background-color: whitesmoke"></th>*@
            </tr>

            <tr>
                <td class="text-left">
                    @Html.EditorFor(model => model.Legajo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Legajo, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.NombreAlu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreAlu, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.ApellidoAlu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApellidoAlu, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.CorreoAlu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CorreoAlu, "", new { @class = "text-danger" })
                </td>

            </tr>
        </table>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Legajo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Legajo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Legajo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NombreAlu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NombreAlu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreAlu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ApellidoAlu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ApellidoAlu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApellidoAlu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CorreoAlu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CorreoAlu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CorreoAlu, "", new { @class = "text-danger" })
                </div>
            </div>*@


        <div align="center">
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>



    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
