@model WebApplication1.Models.Alumno

@{
    ViewBag.Title = "Delete";
}
@if (User.IsInRole("Administrador") | User.IsInRole("Moderador"))
{
    if (TempData["vencer"] != null)
    {
        {
            <input id="vencer" style="display: none" value="@TempData["vencer"]" />

        }

    }
}
<h1 class="text-center">Eliminar alumno</h1>
<hr style="color:grey;border-color:grey" />
<h3> @Model.ApellidoAlu, @Model.NombreAlu</h3>
<br />
<div id="cerrar">

    <table class="table table-striped table-bordered table-condensed ">
        <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
            <th class="text-left" style="border-radius: 5px">
                @Html.DisplayNameFor(model => model.Legajo)
            </th>
            <th class="text-left" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.NombreAlu)
            </th>
            <th class="text-left" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.ApellidoAlu)
            </th>
            <th class="text-left" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.CorreoAlu)
            </th>
           
            @*<th style="background-color: whitesmoke"></th>*@
        </tr>

        <tr style="background-color: azure">
            <td class="text-left">
                @Html.DisplayFor(model => model.Legajo)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.NombreAlu)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.ApellidoAlu)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.CorreoAlu)
            </td>
           

        </tr>


    </table>

    <table class="table table-striped table-bordered table-condensed ">
        <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
           
            <th class="text-left" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.AñoIngreso)
            </th>
            <th class="text-left" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th class="text-left" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th class="text-left" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th class="text-left" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            @*<th style="background-color: whitesmoke"></th>*@
        </tr>

        <tr style="background-color: azure">
           
            <td class="text-left">
                @Html.DisplayFor(model => model.AñoIngreso)
            </td>
            <td class="text-left">
                @if (Model.Telefono != null)
                {
                    @Html.DisplayFor(model => model.Telefono)
                }
                else
                {
                    <text>- - -</text>
                }
            </td>
            <td class="text-left">
                @if (Model.Celular != null)
                {
                    @Html.DisplayFor(model => model.Celular)
                }
                else
                {
                    <text>- - -</text>
                }
            </td>
            <td class="text-left">
                @if (Model.Direccion != null)
                {
                    @Html.DisplayFor(model => model.Direccion)
                }
                else
                {
                    <text>- - -</text>
                }
            </td>
            <td class="text-left">
                @if (Model.DNI != null)
                {
                    @Html.DisplayFor(model => model.DNI)
                }
                else
                {
                    <text>- - -</text>
                }
            </td>

        </tr>


    </table>
    @*<h2 style="color: red">
        <hr/>@if (ViewBag.erroralumnops != null)
             {
                 @ViewBag.erroralumnops<hr/>}
    </h2>*@

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "eliminaralumno" }))
{
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "Alumnos")" class="btn btn-default "><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
            <input type="submit" value="Eliminar" class="btn btn-danger"/>

        </div>
    }



</div>


@if (ViewBag.erroralumnops != null)
{
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Aviso.</h3>
                </div>
                <div class="modal-body">
                    <h4 style="color: Red">@ViewBag.erroralumnops</h4>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#myModal").modal('show');
        });


        $('#eliminaralumno').submit(function (e) {
            var alumno = this;
            e.preventDefault();
            //var x=document.getElementById("RoleID").innerText;
            bootbox.confirm("Esta por eliminar un Alumno, ¿Desea continuar?", function (result) {
                if (result) {
                    alumno.submit();
                }
            });
        });




    </script>
}
