@model WebApplication1.Models.Alumno

@{
    Layout = null;
}


<h4>Al eliminar un alumno estará eliminando sus PS relacionadas</h4>
<div id="cerrar">
    
    <table class="table table-striped table-bordered table-condensed ">
        <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
            <th class="text-left" style="border-radius: 5px">
                @Html.DisplayNameFor(model => model.Legajo)
            </th>
            <th class="text-center" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.NombreAlu)
            </th>
            <th class="text-center" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.ApellidoAlu)
            </th>
            <th class="text-center" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.CorreoAlu)
            </th>
            <th class="text-center" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.AñoIngreso)
            </th>
            <th class="text-center" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th class="text-center" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th class="text-center" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th class="text-center" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            @*<th style="background-color: whitesmoke"></th>*@
        </tr>

        <tr>
            <td class="text-left">
                @Html.DisplayFor(model => model.Legajo)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.NombreAlu)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.ApellidoAlu)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.CorreoAlu)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.AñoIngreso)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.Telefono)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.Celular)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.Direccion)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.DNI)
            </td>

        </tr>


    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            
        </div>
    }



</div>
