@model WebApplication1.Models.Alumno

@{
    ViewBag.Title = "Detalle";
}

<h2 class="text-center">Detalles de Alumno</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Legajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Legajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreAlu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAlu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoAlu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoAlu)
        </dd>
                      <dt>
        @Html.DisplayNameFor(model => model.Direccion)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Direccion)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.AñoIngreso)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AñoIngreso)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Telefono)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Telefono)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Celular)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Celular)
    </dd>
     <dt>
        @Html.DisplayNameFor(model => model.DNI)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DNI)
    </dd>

               
        <dt>
            @Html.DisplayNameFor(model => model.CorreoAlu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoAlu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAlumno })
    @*@Html.ActionLink("Back to List", "Index")*@
    <a href="@Url.Action("Index", "Alumnos")" class="btn btn-default "><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
</p>
