@model WebApplication1.Models.Alumno

@{
    ViewBag.Title = "Editar";
}
<style>
    .hr5 {
        margin-top: 3px;
        margin-bottom: 15px;
        border: 0;
        border-top: 1px solid #eeeeee;
    }
</style>

@if (User.IsInRole("Administrador") | User.IsInRole("Moderador"))
{
    if (TempData["vencer"] != null)
    {
        {
            <input id="vencer" style="display: none" value="@TempData["vencer"]" />

        }

    }
}
<h2 class="text-center">Editar Alumno: @Model.ApellidoAlu, @Model.NombreAlu</h2>
<hr style="color:grey;border-color:grey"/>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "agregaralumno" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdAlumno)
        @*/////////////////////////////////*@
        <h3 style="padding-left: ">Datos Académicos</h3>
        <hr align="left" class="hr5" style="color: grey; border-color: lightgray; width: 550px;" />

        <div class="form-group">
            <label class="control-label col-md-2">Legajo <sup>(*)</sup></label>

            <div class="col-md-10">
                @Html.DisplayFor(model => model.Legajo, new { htmlAttributes = new { @class = "form-control input-sm", @onkeypress = "solonumeros()" } })
                @Html.ValidationMessageFor(model => model.Legajo, "", new { @class = "text-danger" })




            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Nombre <sup>(*)</sup></label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreAlu, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.NombreAlu, "", new { @class = "text-danger" })




            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Apellido <sup>(*)</sup></label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.ApellidoAlu, new {htmlAttributes = new {@class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.ApellidoAlu, "", new {@class = "text-danger"})


            </div>
        </div>
    <div class="form-group">
        <label class="control-label col-md-2">Año de Ingreso <sup>(*)</sup></label>

        <div class="col-md-10">
            @Html.EditorFor(model => model.AñoIngreso, new {htmlAttributes = new {@class = "form-control input-sm", @onkeypress = "solonumeros()"}})
            @Html.ValidationMessageFor(model => model.AñoIngreso, "", new {@class = "text-danger"})




        </div>
    </div>
        <h3 style="padding-left: ">Datos Personales</h3>
        <hr align="left" class="hr5" style="color: grey; border-color: lightgray; width: 550px;" />

        <div class="form-group">
            <label class="control-label col-md-2">E-Mail</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.CorreoAlu, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.CorreoAlu, "", new { @class = "text-danger" })




            </div>
        </div>
       
        <div class="form-group">
            <label class="control-label col-md-2">Dirección</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })




            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Telefono</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control input-sm", @onkeypress = "solonumeros()" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })


            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Celular</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control input-sm", @onkeypress = "solonumeros()" } })
                @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })


            </div>
        </div>
    <div class="form-group">
        <label class="control-label col-md-2">DNI</label>

        <div class="col-md-10">
            @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control input-sm", @onkeypress = "solonumeros()", @MinLength = 7, @MaxLength = 8 } })
            @Html.ValidationMessageFor(model => model.DNI, "", new { @class = "text-danger" })




        </div>
    </div>
      
        @*///////////////////////////////////////*@







        @*<table class="table table-striped table-bordered ">
            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
                <th class="text-left" style="border-radius: 5px">
                    @Html.DisplayNameFor(model => model.Legajo)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    Nombre <sup>(*)</sup>                </th>
                <th class="text-left" style="border-radius: 3px">
                    Apellido <sup>(*)</sup>                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.CorreoAlu)
                </th>
               
            </tr>

            <tr>
                <td class="text-left">
                    @Html.DisplayFor(model => model.Legajo, new { htmlAttributes = new { @class = "form-control", @onkeypress = "solonumeros()" } })
                    @Html.ValidationMessageFor(model => model.Legajo, "", new { @class = "text-danger" })
                    
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.NombreAlu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreAlu, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.ApellidoAlu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApellidoAlu, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.CorreoAlu, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.CorreoAlu, "", new {@class = "text-danger"})
                </td>
               
            </tr>
        </table>

        <table class="table table-striped table-bordered ">
            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
                <th class="text-left" style="border-radius: 3px">
                    Año de Ingreso <sup>(*)</sup>
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>

                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.DNI)
                </th>
            </tr>
            <tr>
                <td class="text-left">
                    @Html.EditorFor(model => model.AñoIngreso, new { htmlAttributes = new { @class = "form-control", @onkeypress = "solonumeros()" } })
                    @Html.ValidationMessageFor(model => model.AñoIngreso, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </td>

                <td class="text-left">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @onkeypress = "solonumeros()" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control", @onkeypress = "solonumeros()" } })
                    @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control", @onkeypress = "solonumeros()" , @MinLength = 7, @MaxLength = 8 } })
                    @Html.ValidationMessageFor(model => model.DNI, "", new { @class = "text-danger" })
                </td>



            </tr>
</table>*@
        <p><sup>(*)</sup>  Campo obligatorio.</p>
        <div align="left">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
            </div>
        </div>



</div>
}

<div>
    <a href="@Url.Action("Index", "Alumnos")" class="btn btn-default "><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
    @*@Html.ActionLink("Volver", "Index")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
