@model WebApplication1.Models.Alumno

@{
    ViewBag.Title = "Editar";
}

<h2 class="text-center">Editar Alumno @Model.ApellidoAlu, @Model.NombreAlu</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Alumno:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdAlumno)

        <table class="table table-striped table-bordered ">


            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
                <th class="text-left" style="border-radius: 5px">
                    @Html.DisplayNameFor(model => model.Legajo)
                </th>
                <th class="text-center" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.NombreAlu)
                </th>
                <th class="text-center" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.ApellidoAlu)
                </th>
                <th class="text-center" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.CorreoAlu)
                </th>
                @*<th class="text-center" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th class="text-center" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.AñoIngreso)
                </th>
                <th class="text-center" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th class="text-center" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.movil)
                </th>*@
               
            </tr>

            <tr>
                <td class="text-left">
                    @Html.EditorFor(model => model.Legajo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Legajo, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.NombreAlu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreAlu, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.ApellidoAlu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApellidoAlu, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.CorreoAlu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CorreoAlu, "", new { @class = "text-danger" })
                </td>
                @*<td class="text-left">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.AñoIngreso, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AñoIngreso, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </td>
                <td class="text-left">
                    @Html.EditorFor(model => model.movil, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.movil, "", new { @class = "text-danger" })
                </td>*@
                
            </tr>
        </table>         

        
            <div align="center">
                <input type="submit" value="Guardar" class="btn btn-success"/>
            </div>

        
        
</div>
}

<div>
    <a href="@Url.Action("Index", "Alumnos")" class="btn btn-default "><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
    @*@Html.ActionLink("Volver", "Index")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
