@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.Alumno>
@{
    ViewBag.Title = "Historial alumnos";
}

<div>
    <h1 class="text-center ">Historial alumnos de práctica supervisada</h1>
    <hr style="color:grey;border-color:grey" />
</div>


<table id="mitabla" class="table table-striped table-bordered ">
    <thead>

        <tr class="text-left" style="color: #2c3e50; background-color: lightblue">
            <th class="text-left" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.Legajo)
            </th>
            <th class="text-left" style="border-radius: 3px">
                Apellido y Nombre
            </th>
            <th class="text-left" style="border-radius: 3px">
                @Html.DisplayNameFor(model => model.CorreoAlu)
            </th>
            <th class="text-center" style="border-radius: 3px">
                Acciones
            </th>
            @*<th style="background-color: whitesmoke"></th>*@
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
            {
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.Legajo)
                </td>
                <td class="text-left">
                    @item.ApellidoAlu, @item.NombreAlu
                </td>
                <td class="text-left">
                    @if (item.CorreoAlu != null)
                    {
                        @Html.DisplayFor(modelItem => item.CorreoAlu)
                    }
                    else
                    {
                        <text>- - -</text>
                    }                    
                </td>
                <td class="text-center">
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdAlumno, var = true }, new { @class = "btn btn-primary btn-sm", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="modal fade" id="myModal1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">¿Está seguro que desea eliminar al siguiente alumno?</h3>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>

        </div>

    </div>

</div>
<a href="@Url.Action("Index")" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>

@section scripts{
    <script>
            $(document).ready(function () {
                $("#mitabla").DataTable({
                    "language": {
                        "url": "/Scripts/DataTables/spanish.json"
                    }
                });

            });
    </script>
}
