@model IEnumerable<WebApplication1.Models.Alumno>

@{
    ViewBag.Title = "Alumnos";
}

<h2>Alumnos:</h2>

<p>
    @Html.ActionLink("Agregar alumno", "Create")
</p>
<table class="table table-striped table-bordered ">
    <tr class="text-left" style="color: #2c3e50; background-color: lightblue ">
        <th class="text-left" style="border-radius: 3px">
            @Html.DisplayNameFor(model => model.Legajo)
        </th>
        <th class="text-left" style="border-radius: 3px">
            @Html.DisplayNameFor(model => model.NombreAlu)
        </th>
        <th class="text-left" style="border-radius: 3px">
            @Html.DisplayNameFor(model => model.ApellidoAlu)
        </th>
        <th class="text-left" style="border-radius: 3px">
            @Html.DisplayNameFor(model => model.CorreoAlu)
        </th>
        @*<th style="background-color: whitesmoke"></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-left">
            @Html.DisplayFor(modelItem => item.Legajo)
        </td>
        <td class="text-left">
            @Html.DisplayFor(modelItem => item.NombreAlu)
        </td>
        <td class="text-left">
            @Html.DisplayFor(modelItem => item.ApellidoAlu)
        </td>
        <td class="text-left">
            @Html.DisplayFor(modelItem => item.CorreoAlu)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdAlumno }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.IdAlumno })*@ 
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdAlumno })
        </td>
    </tr>
}

</table>
