@using System.Web.UI.WebControls
@model WebApplication1.Models.PresentacionPlan
@{
    Layout = null;
}
@{
    ViewBag.Title = "Evaluar Plan";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FechaPresentacionPlan)           
    @Html.HiddenFor(model => model.IdPS)
    
    @Html.AntiForgeryToken()

    <div class="form-horizontal" >
        @*<h2>Evaluar Plan</h2>*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdPresentacionPlan)
        <div class="form-group">
            @Html.LabelFor(model => model.FechaEvaluacionPlan, "Fecha de Evaluación", htmlAttributes: new { @class = "control-label col-md-6", @Style="text-align: center" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FechaEvaluacionPlan, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.FechaEvaluacionPlan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EstadoEvaluacionPlan, "Estado de Evaluación", htmlAttributes: new { @class = "control-label col-md-6", @Style = "text-align: center" })
            <div class="col-md-4">
                @Html.EnumDropDownListFor(model => model.EstadoEvaluacionPlan, htmlAttributes: new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.EstadoEvaluacionPlan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ObservacionesPlan, "Observaciones", htmlAttributes: new {@class = "control-label col-md-6", @Style = "text-align: center" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ObservacionesPlan, new {htmlAttributes = new {@class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.ObservacionesPlan, "", new {@class = "text-danger"})
            </div>
        </div>
         <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}




