@model WebApplication1.Models.PS
@{
    Layout = null;
}

@*@{
    ViewBag.Title = "HistorialPlanes";
}*@
<div id="cerrar">
    <h4>HistorialPlanes</h4>

    <table class="table table-striped table-bordered table-condensed ">
        <tr class="text-center" style="color: #2c3e50; background-color: darkkhaki">

            <th class="text-left" style="border-radius: 3px">
                @*@Html.DisplayNameFor(model => model.PresentacionesPlanes.FechaPresentacionPlan)*@
                FechaPresentacionPlan
            </th>
            <th class="text-left" style="border-radius: 3px">
                @*@Html.DisplayNameFor(model => model.FechaEvaluacionPlan)*@
                FechaEvaluacionPlan
            </th>
            <th class="text-left" style="border-radius: 3px">
                @*@Html.DisplayNameFor(model => model.EstadoEvaluacionPlan)*@
                EstadoEvaluacionPlan
            </th>
            <th class="text-left" style="border-radius: 3px">
                @*@Html.DisplayNameFor(model => model.ObservacionesPlan)*@
                ObservacionesPlan
            </th>

        </tr>

        @foreach (var item in Model.PresentacionesPlanes)
        {
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.FechaPresentacionPlan)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.FechaEvaluacionPlan)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.EstadoEvaluacionPlan)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.ObservacionesPlan)
                </td>
                @*<td class="text-left">
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdPresentacionPlan }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.IdPresentacionPlan }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPresentacionPlan })
                    </td>*@
            </tr>
        }

    </table>
    @Ajax.ActionLink("Cerrar historial planes...", "Vacio","Home", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "cerrar",

}
                    )
</div>