@model WebApplication1.Models.Area

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Área</h2>

<h3>¿Está seguro de eliminar el área?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionArea)
        </dd>

    </dl>

    <h2 style="color: red"><hr/>@if (ViewBag.errorareaps != null) { 
        @ViewBag.errorareaps<hr />}</h2>
    


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @*@Html.ActionLink("Back to List", "Index")*@
            <a href="@Url.Action("Index", "Areas")" class="btn btn-default ">Cancelar</a>
        </div>
    }
</div>