@model WebApplication1.Models.Area

@{
    Layout = null;
}


<div>
    
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionArea)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @*@Html.ActionLink("Back to List", "Index")*@
            
        </div>
    }
</div>
