@model WebApplication1.Models.Area

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Área</h2>
<hr style="color:grey;border-color:grey"/>
<h3>¿Está seguro de eliminar el área de @Model.NombreArea?</h3>
<div>
    
    <dl class="dl-horizontal">
        <table class="table table-striped table-bordered ">
            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
                <th class="text-left" style="border-radius: 5px">
                    @Html.DisplayNameFor(model => model.NombreArea)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.DescripcionArea)
                </th>
                

            </tr>

            <tr>
                <td class="text-left">
                    @Html.DisplayFor(model => model.NombreArea)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(model => model.DescripcionArea)
                </td>
                

            </tr>
        </table>

    </dl>

    <h2 style="color: red"><hr/>@if (ViewBag.errorareaps != null) { 
        @ViewBag.errorareaps<hr />}</h2>
    
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "Areas")" class="btn btn-default "><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
            <input type="submit" value="Eliminar" class="btn btn-danger" />            
        </div>
    }
</div>