@{
    Layout = null;
}

<hr />
<div id="ajaxBeginFormResult">
    
    <head >
        <link rel="stylesheet" type="text/css" href="~/Scripts/jqPlot/jquery.jqplot.css" />
    </head>

    <div id="seleccion">
        <h3 class="text-center">Gráfico Estados de Informes</h3>
        <br />
        <div class="text-center">

            <h4>Desde: @ViewBag.fechadesde.ToString("dd/MM/yyyy")-Hasta: @ViewBag.fechahasta.ToString("dd/MM/yyyy")</h4>
            <br />
            

            <div id="grafico2" style="width: 500px; height:300px  ; display: inline-block">
            </div>
        </div>

        <div class="hidden-print" >
            <a class="btn btn-primary" onclick="window.print('#seleccion');">
                Imprimir
            </a>
        </div>


    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.jqplot.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.jqplot.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.pieRenderer.min.js"></script>
    <script>
        $(document).ready(function () {


            plot3 = jQuery.jqplot('grafico2',
        [[['Informes Aprobados: '+@ViewBag.informesaprobados, @ViewBag.informesaprobados], ['Informes Desaprobados: '+@ViewBag.informesdesaprobados, @ViewBag.informesdesaprobados],['Informes Pendientes: '+@ViewBag.informespendientes, @ViewBag.informespendientes]]],
        {
            title: ' ',
            seriesDefaults: {
                shadow: false,
                renderer: jQuery.jqplot.PieRenderer,
                rendererOptions: {
                    startAngle: 180,
                    sliceMargin: 4,
                    showDataLabels: true
                }
            },
            legend: { show: true, location: 'w' }
        }
      );


        });

        function printData() {
            var divToPrint = document.getElementById("seleccion");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }      
    </script>

</div>
</div>
<style>
    .jqplot-table-legend {
        font-size: large;
    }
</style>