@using WebApplication1.Models

@{
    Layout = null;
}


<div id="ajaxBeginFormResult">
    <head>
        <link rel="stylesheet" type="text/css" href="~/Scripts/jqPlot/jquery.jqplot.css" />
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/smoothness/jquery-ui.css" />
    </head>



    <h3>Gráfico Tipos PS Informes</h3>
    <h4>Desde: @ViewBag.fechadesde.ToString("dd/MM/yyyy")</h4>
    <h4>Hasta: @ViewBag.fechahasta.ToString("dd/MM/yyyy")</h4>

    <div id="grafico2" style="width: 400px; display: inline-block">
    </div>
    <p></p>
    @for (var i = 0; i < ViewBag.tiposps; i++)
    {
        <div style="display: inline-block;border-style: double">
            <h4>@ViewBag.mistiposps[i]</h4>
            <h5>Informes Aprobados: @ViewBag.listaaprobados[i]</h5>
            <h5>Informes Desaprobados: @ViewBag.listadesaprobados[i]</h5>
            <h5>PlanesInformes Pendientes: @ViewBag.listapendientes[i]</h5>
        </div>
    }


   
        <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.js"></script>
        <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.jqplot.js"></script>
        <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.jqplot.min.js"></script>
        <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.cursor.js"></script>
        <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.pieRenderer.min.js"></script>
        <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.barRenderer.min.js"></script>
        <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.min.js"></script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
        <script>
        $(document).ready(function () {


            var listatiposps = @Html.Raw(ViewBag.listatiposps);
            var cantidades = @Html.Raw(ViewBag.cantidades);

           var array =[];
           $.each( listatiposps, function( index, value ){
                array.push([value+" : "+cantidades[index], cantidades[index]]);
            });


            plot3 = jQuery.jqplot('grafico2',
     [array],
     {
         title: ' ',
         seriesDefaults: {
             shadow: false,
             renderer: jQuery.jqplot.PieRenderer,
             rendererOptions: {
                 sliceMargin: 4,
                 showDataLabels: true
             }
         },
         legend: { show:true, location: 'e' }
     }
   );


        });
        </script>
    

</div>