@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.PS>

@{
    Layout = null;
}

<div id="ajaxBeginFormResult">

    <head>
        <link rel="stylesheet" type="text/css" href="~/Scripts/jqPlot/jquery.jqplot.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery-ui.css" />
    </head>

@if (Model.Count() == 0)
{
    <hr style="color: darkgrey; border-color: darkgrey"/>
    <h3 style="color: red">-- No hay coincidencias para el rango ingresado. --</h3>
    <hr style="color: darkgrey; border-color: darkgrey"/>
}
else
{

    <div id="seleccion">

        <div class="text-center">
            <h4>Desde: @ViewBag.fechadesde.ToString("dd/MM/yyyy")&nbsp;-&nbsp;Hasta: @ViewBag.fechahasta.ToString("dd/MM/yyyy")&nbsp;&nbsp;&nbsp;<button id="ocultargrafico" class="hidden-print btn btn-default btn-sm">Ocultar</button></h4>

            <div id="grafico2" style="width: 500px; height: 300px; display: inline-block">
            </div>
        </div>

        @*@for (var i = 0; i < ViewBag.tiposps; i++)
        {
            <div class="panel panel-info" style="display: inline-block">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">@ViewBag.mistiposps[i]</h3>
                </div>
                <div class="panel-body">
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">Plan_Entregado: @ViewBag.listaplanesentregados[i]</h5>
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">Plan_Aprobado: @ViewBag.listaplanesaprobados[i]</h5>
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">Plan_Desaprobado: @ViewBag.listaplanesdesaprobados[i]</h5>
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">Plan_Rechazado: @ViewBag.listaplanesrechazados[i]</h5>
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">Informe_Entregado: @ViewBag.listainformesentregados[i]</h5>
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">Informe_Aprobado: @ViewBag.listainformesaprobados[i]</h5>
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">Informe_Desaprobado: @ViewBag.listainformesdesaprobados[i]</h5>
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">PS_Aprobada: @ViewBag.listapssaprobadas[i]</h5>
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">PS_Cancelada: @ViewBag.listapsscanceladas[i]</h5>
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">PS_Vencida: @ViewBag.listapssvencidas[i]</h5>

                </div>
            </div>
        }*@
        <div class="text-right">@Html.ActionLink("Referencias", "_Referencias", null, new { @class = "dialog-window1 hidden-print" })</div>

        <table id="mitabla2" class="table table-striped table-bordered">
            <thead>
                <tr class="text-center" style="color: #2c3e50; background-color: lightblue">


                    <th class="text-left" style="border-radius: 3px">
                        Tipos PS
                    </th>
                    <th class="text-left" style="border-radius: 3px">
                        P.Ent.
                    </th>
                    <th class="text-left" style="border-radius: 3px">
                        P.Ap.
                    </th>

                    <th class="text-left" style="border-radius: 3px">
                        P.Des.
                    </th>
                    <th class="text-left" style="border-radius: 3px">
                        P.Rech.
                    </th>
                    <th class="text-left" style="border-radius: 3px">
                        I.Ent.
                    </th>
                    <th class="text-left" style="border-radius: 3px">
                        I.Ap.
                    </th>
                    <th class="text-left" style="border-radius: 3px">
                        I.Des.
                    </th>
                    <th class="text-left" style="border-radius: 3px">
                        Ps.Ap.
                    </th>
                    <th class="text-left" style="border-radius: 3px">
                        Ps.Canc.
                    </th>
                    <th class="text-left" style="border-radius: 3px">
                        Ps.Venc.
                    </th>

                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < ViewBag.tiposps; i++)
                {
                    <tr style="background-color: azure">
                        <td class="text-left">
                            @Html.ActionLink((string)ViewBag.mistiposps[i], "_PopupTipospsPS", new { tipops = ViewBag.mistiposps[i], fecha1 = ViewBag.fechadesde, fecha2 = ViewBag.fechahasta }, new { @class = "dialog-window2" })


                        </td>
                        <td class="text-left">
                            @ViewBag.listaplanesentregados[i]
                        </td>
                        <td class="text-left">
                            @ViewBag.listaplanesaprobados[i]
                        </td>
                        <td class="text-left">
                            @ViewBag.listaplanesdesaprobados[i]
                        </td>
                        <td class="text-left">
                            @ViewBag.listaplanesrechazados[i]
                        </td>
                        <td class="text-left">
                            @ViewBag.listainformesentregados[i]
                        </td>
                        <td class="text-left">
                            @ViewBag.listainformesaprobados[i]
                        </td>
                        <td class="text-left">
                            @ViewBag.listainformesdesaprobados[i]
                        </td>
                        <td class="text-left">
                            @ViewBag.listapssaprobadas[i]
                        </td>
                        <td class="text-left">
                            @ViewBag.listapsscanceladas[i]
                        </td>
                        <td class="text-left">
                            @ViewBag.listapssvencidas[i]
                        </td>

                    </tr>
                }
            </tbody>
        </table>

        <hr style="color: grey; border-color: grey"/>
        <h2 class="text-center">PSs incidentes en la estadística</h2>

        <table id="mitabla" class="table table-striped table-bordered">
            <thead>
            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">

                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Alumno.Legajo)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    Apellido y Nombre
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.TipoPS.NombreTipoPS)
                </th>
                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Area.NombreArea)
                </th>

                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.CicloLectivo)
                </th>

                <th class="text-left" style="border-radius: 3px">
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th class="text-center hidden-print" style="border-radius: 3px">Acciones</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr style="background-color: azure">
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Alumno.Legajo)
                    </td>
                    <td class="text-left">
                        @item.Alumno.ApellidoAlu, @item.Alumno.NombreAlu
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.TipoPS.NombreTipoPS)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Area.NombreArea)
                    </td>

                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.CicloLectivo)
                    </td>


                    @if (item.Estado == Estado.PS_Aprobada & item.NroDisposicion != null)

                    {
                        <td class="text-left" style="font-weight: bolder; font-style: italic; color: forestgreen">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                    }
                    else if (item.Estado == Estado.PS_Cancelada)
                    {
                        <td class="text-left" style="font-weight: bold; font-style: italic; color: darkred">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                    }
                    else if (item.Estado == Estado.PS_Aprobada & item.NroDisposicion == null)
                    {
                        <td class="text-left" style="font-weight: bold; font-style: italic; color: midnightblue">
                            @Html.DisplayFor(modelItem => item.Estado)<p style="color: midnightblue; font-size: smaller">[Sin Nro. Disposición]</p>
                        </td>
                    }
                    else
                    {
                        <td class="text-left" style="font-weight: bold; font-style: italic;">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                    }

                    <td class="text-center hidden-print">
                        @Html.ActionLink("Detalles", "Details", "PS", new {id = item.IdPS, var = true}, new { target = "_blank", @class = "btn btn-primary btn-sm", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500"})
                        @*@Html.ActionLink("Eliminar", "Delete", new { id = item.IdPS }, new { @class = "dialog-window1 btn btn-primary btn-sm", @style = "color:white;font-size:13px;line-height:inherit;border-radius:5px;font-weight: 500" })*@
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="hidden-print text-center">
        <a class="btn btn-sm btn-warning hidden-print" onclick="window.print('#seleccion');">
            Imprimir

        </a>
    </div>

    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.jqplot.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.jqplot.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.cursor.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.pieRenderer.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.barRenderer.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/datatables/jquery.datatables.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/datatables/datatables.bootstrap.js"></script>




    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("body").on("click", "a.dialog-window4", null, function (e) {
                e.preventDefault();
                jQuery.noConflict();
                var $link = $(this); // Reference to <a/> link
                var title = $link.text(); //this is title to fetch in htnl
                $('#myModal4 .modal-title').html(title);

                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#myModal4').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#myModal4 .te').html(data);
                        $('#myModal4').modal();
                    }).success(function () { $('input:text:visible:first').focus(); });
                }
            });
            $('#mitabla_length').addClass('hidden-print');
            $('#mitabla_filter').addClass('hidden-print');
            $('#mitabla_info').addClass('hidden-print');
            $('#mitabla_paginate').addClass('hidden-print');
            $('#mitabla2_length').addClass('hidden-print');
            $('#mitabla2_filter').addClass('hidden-print');
            $('#mitabla2_info').addClass('hidden-print');
            $('#mitabla2_paginate').addClass('hidden-print');

            var listatiposps = @Html.Raw(ViewBag.listatiposps);
            var cantidades = @Html.Raw(ViewBag.cantidades);

            var array = [];
            $.each(listatiposps, function(index, value) {
                array.push([value + " : " + cantidades[index], cantidades[index]]);
            });


            plot3 = jQuery.jqplot('grafico2',
                [array],
                {
                    title: 'Gráfico',
                    seriesDefaults: {
                        shadow: false,
                        renderer: jQuery.jqplot.PieRenderer,
                        rendererOptions: {
                            sliceMargin: 4,
                            showDataLabels: true
                        }
                    },
                    legend: { show: true, location: 'e' }
                }
            );


        });

        $("#mitabla").DataTable({
            "language": {
                "url": "/Scripts/DataTables/spanish.json"
            }
        });

        $("#mitabla2").DataTable({
            "language": {
                "url": "/Scripts/DataTables/spanish.json"
            }
        });

        function printData() {
            var divToPrint = document.getElementById("seleccion");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }
        $( "#ocultargrafico" ).click(function() {
            $(this).text(function(i, text) {
                return text === "Ocultar" ? "Mostrar" : "Ocultar";
            });
           
            $( "#grafico2" ).toggle( "slow" );
        });
    </script>

}
</div>

<style>
    .jqplot-table-legend {
        font-size: large;
    }
</style>