@using WebApplication1.Models

@{
    Layout = null;
}

<hr />
<div id="ajaxBeginFormResult">
    <head>
        <link rel="stylesheet" type="text/css" href="~/Scripts/jqPlot/jquery.jqplot.css"/>
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/smoothness/jquery-ui.css"/>
    </head>



    <div id="seleccion">
        <h3 class="text-center">Gráfico Tipos PS Informes</h3>
        <br/>

        <div class="text-center">

            <h4>Desde: @ViewBag.fechadesde.ToString("dd/MM/yyyy")-Hasta: @ViewBag.fechahasta.ToString("dd/MM/yyyy")</h4>
            <br />
            

            <div id="grafico2" style="width:500px; height:300px  ; display: inline-block">
            </div>
        </div>
        <p></p>

        @for (var i = 0; i < ViewBag.tiposps; i++)
        {
            <div class="panel panel-info" style="display: inline-block">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">@ViewBag.mistiposps[i]</h3>
                </div>
                <div class="panel-body">
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">Informes Aprobados: @ViewBag.listaaprobados[i]</h5>
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">Informes Desaprobados: @ViewBag.listadesaprobados[i]</h5>
                    <h5 style="font-family: cursive; font-size: medium" class="text-center">Informes Pendientes: @ViewBag.listapendientes[i]</h5>
                </div>
            </div>
        }
    </div>

    <div class="hidden-print" >
            <a class="btn btn-primary" onclick="window.print('#seleccion');">
                Imprimir

            </a>
        </div>

    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.jqplot.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.jqplot.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.cursor.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.pieRenderer.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.barRenderer.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.min.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {


            var listatiposps = @Html.Raw(ViewBag.listatiposps);
            var cantidades = @Html.Raw(ViewBag.cantidades);

            var array = [];
            $.each(listatiposps, function(index, value) {
                array.push([value + " : " + cantidades[index], cantidades[index]]);
            });


            plot3 = jQuery.jqplot('grafico2',
                [array],
                {
                    title: ' ',
                    seriesDefaults: {
                        shadow: false,
                        renderer: jQuery.jqplot.PieRenderer,
                        rendererOptions: {
                            sliceMargin: 4,
                            showDataLabels: true
                        }
                    },
                    legend: { show: true, location: 'e' }
                }
            );


        });

        function printData() {
            var divToPrint = document.getElementById("seleccion");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }
    </script>


</div>

<style>
    .jqplot-table-legend {
        font-size: large;
    }
</style>