@if (User.IsInRole("Administrador") | User.IsInRole("Moderador"))
{
    if (TempData["vencer"] != null)
    {
        {
            <input id="vencer" style="display: none" value="@TempData["vencer"]" />

        }

    }
}
<h2 class="text-center">Estadística de PSs por Estado</h2>
<hr style="color: grey; border-color: grey;margin-bottom: 0px" />
<div class="text-right">@Html.ActionLink("Ayuda", "_ReferenciasGenerales", new { a = "0" }, new { @class = "dialog-window4 hidden-print btn btn-xs btn-info glyphicon glyphicon-info-sign", @style = "padding-top: 0px" })</div>

@using (Ajax.BeginForm("_GraficoEstadosPS", "Estadisticas", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ajaxBeginFormResult",
    OnSuccess = "OnSuccess"
}))
{
    @Html.AntiForgeryToken()
    <div class="hidden-print">
        <div class="row">
            <div class="col-lg-1"></div>
            <h3 class="col-lg-4">Ingrese rango de fechas</h3>
        </div>
        <div class="row form-horizontal">
            <div class="col-lg-1"></div>
            <label class="col-lg-1">Desde:</label>
            <input id='from' class="col-lg-1 form-control" required min="1900-01-01" max="2100-01-01" type="date" name='fecha1' style="width: 200px"/>
            <div class="col-lg-1"></div>
            <label class="col-lg-1">Hasta:</label>
            <input id='to' class="form-control col-lg-1" required min="1900-01-01" max="2100-01-01" type="date" name='fecha2' style="width: 200px"/>
            <div class="col-lg-1"></div>
            <input type='submit'  onclick="ordenFechas()" value='Generar' class="btn btn-success col-lg-1"/>

        </div>
        <br />
        <div class="text-center">
            <span id="spanOrdenFechas" style="color: red"></span>
        </div>
    </div>
}

<div id="ajaxBeginFormResult"></div>

<div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-left: -30%; margin-right: -30%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Historial Planes</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>*@
            @*<button type="submit" class="btn btn-primary">Save changes</button>*@
            @*</div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript" language="javascript" src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
<script type="text/javascript" language="javascript" src='@Url.Content("/../sigeps/Scripts/jquery-1.12.4.min.js")'></script>


<script>
    $(document).ready(function() {


        $("body").on("click", "a.dialog-window4", null, function (e) {
            e.preventDefault();
            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal4 .modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal4').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal4 .te').html(data);
                    $('#myModal4').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });











    });

</script>



