@if (User.IsInRole("Administrador") | User.IsInRole("Moderador"))
{
    if (TempData["vencer"] != null)
    {
        {
            <input id="vencer" style="display: none" value="@TempData["vencer"]" />

        }

    }
}
@{
    ViewBag.Title = "Index";
}

<h2>Estados Planes</h2>
<hr />

<form id='your-range-form' action='@Url.Action("EstadosPlanes", "Estadisticas")' method='post'>
    <input id='from' type="date" name='fecha1'/>
    <input id='to' type="date" name='fecha2'/>
    <input type='submit' value='Ok'/>
</form>
<hr/>
<h2>Estados Informes</h2>
<hr />

<form id='your-range-form' action='@Url.Action("EstadosInformes", "Estadisticas")' method='post'>
    <input id='from' type="date" name='fecha1'/>
    <input id='to' type="date" name='fecha2'/>
    <input type='submit' value='Ok'/>
</form>

<hr />
<h2>Areas Planes</h2>
<hr />

<form id='your-range-form' action='@Url.Action("AreasPlanes", "Estadisticas")' method='post'>
    <input id='from' type="date" name='fecha1'/>
    <input id='to' type="date" name='fecha2'/>
    <input type='submit' value='Ok'/>
</form>

<hr />
<h2>Areas Informes</h2>
<hr />
<form id='your-range-form' action='@Url.Action("AreasInformes", "Estadisticas")' method='post'>
    <input id='from' type="date" name='fecha1'/>
    <input id='to' type="date" name='fecha2'/>
    <input type='submit' value='Ok'/>
</form>

<hr />
<h2>Tipos PS Planes</h2>
<hr />
<form id='your-range-form' action='@Url.Action("TipospsPlanes", "Estadisticas")' method='post'>
    <input id='from' type="date" name='fecha1'/>
    <input id='to' type="date" name='fecha2'/>
    <input type='submit' value='Ok'/>
</form>

<hr />
<h2>Tipos PS Infomes</h2>
<hr />
<form id='your-range-form' action='@Url.Action("TipospsInformes", "Estadisticas")' method='post'>
    <input id='from' type="date" name='fecha1'/>
    <input id='to' type="date" name='fecha2'/>
    <input type='submit' value='Ok'/>
</form>
<hr />
<h2>Año ingreso PS</h2>
<hr />
<form id='your-range-form' action='@Url.Action("AñoingresoPS", "Estadisticas")' method='post'>
    <input id='from' type="number" name='fecha1' />
    <input id='to' type="number" name='fecha2' />
    <input type='submit' value='Ok' />
</form>



