@if (User.IsInRole("Administrador") | User.IsInRole("Moderador"))
{
    if (TempData["vencer"] != null)
    {
        {
            <input id="vencer" style="display: none" value="@TempData["vencer"]" />

        }

    }
}

<h2>Gráficos</h2>
<head>
   
    <link rel="stylesheet" type="text/css" href="~/Scripts/jqPlot/jquery.jqplot.css"/>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/smoothness/jquery-ui.css" />

   
</head>

<h3>Gráfico Evaluación de Planes</h3>


<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
        <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true"><a href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Aca no hay naranja</a></li>
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false"><a href="#tabs-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Grafico 1</a></li>
        <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-3" aria-selected="false"><a href="#tabs-3" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">Grafico 2</a></li>
    </ul>
    <div id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
        No hay nada wiiii.
    </div>

    <div id="tabs-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
        <p>Toma grafiquito one</p>
        <div id="chart1" data-height="260px" data-width="480px" style="margin-top: 20px; margin-left: 20px; position: relative; height: 260px; width: 480px;" class="jqplot-target"><canvas width="480" height="260" class="jqplot-base-canvas" style="position: absolute; left: 0px; top: 0px; width: 480px; height: 260px;"></canvas><div class="jqplot-title" style="position: absolute; top: 0px; left: 0px; width: 480px; text-align: center;">I was hidden</div><div class="jqplot-axis jqplot-xaxis" style="position: absolute; width: 480px; height: 16px; left: 0px; bottom: 0px;"><div class="jqplot-xaxis-tick" style="position: absolute; left: 20.5px;">0</div><div class="jqplot-xaxis-tick" style="position: absolute; left: 85.1667px;">2</div><div class="jqplot-xaxis-tick" style="position: absolute; left: 149.833px;">4</div><div class="jqplot-xaxis-tick" style="position: absolute; left: 214.5px;">6</div><div class="jqplot-xaxis-tick" style="position: absolute; left: 279.167px;">8</div><div class="jqplot-xaxis-tick" style="position: absolute; left: 340.333px;">10</div><div class="jqplot-xaxis-tick" style="position: absolute; left: 405px;">12</div></div><div class="jqplot-axis jqplot-yaxis" style="position: absolute; height: 260px; width: 14px; left: 0px; top: 0px;"><div class="jqplot-yaxis-tick" style="position: absolute; top: 226px;">5</div><div class="jqplot-yaxis-tick" style="position: absolute; top: 197.714px;">10</div><div class="jqplot-yaxis-tick" style="position: absolute; top: 169.429px;">15</div><div class="jqplot-yaxis-tick" style="position: absolute; top: 141.143px;">20</div><div class="jqplot-yaxis-tick" style="position: absolute; top: 112.857px;">25</div><div class="jqplot-yaxis-tick" style="position: absolute; top: 84.5714px;">30</div><div class="jqplot-yaxis-tick" style="position: absolute; top: 56.2857px;">35</div><div class="jqplot-yaxis-tick" style="position: absolute; top: 28px;">40</div></div><div class="jqplot-axis jqplot-y2axis" style="position: absolute; height: 260px; width: 14px; right: 34px; top: 0px;"><div class="jqplot-y2axis-tick" style="position: absolute; top: 226px;">0</div><div class="jqplot-y2axis-tick" style="position: absolute; top: 197.714px;">3</div><div class="jqplot-y2axis-tick" style="position: absolute; top: 169.429px;">6</div><div class="jqplot-y2axis-tick" style="position: absolute; top: 141.143px;">9</div><div class="jqplot-y2axis-tick" style="position: absolute; top: 112.857px;">12</div><div class="jqplot-y2axis-tick" style="position: absolute; top: 84.5714px;">15</div><div class="jqplot-y2axis-tick" style="position: absolute; top: 56.2857px;">18</div><div class="jqplot-y2axis-tick" style="position: absolute; top: 28px;">21</div></div><div class="jqplot-axis jqplot-y3axis" style="position: absolute; height: 260px; width: 14px; right: 0px; top: 0px;"><div class="jqplot-y3axis-tick" style="position: absolute; top: 226px;">0</div><div class="jqplot-y3axis-tick" style="position: absolute; top: 197.714px;">3</div><div class="jqplot-y3axis-tick" style="position: absolute; top: 169.429px;">6</div><div class="jqplot-y3axis-tick" style="position: absolute; top: 141.143px;">9</div><div class="jqplot-y3axis-tick" style="position: absolute; top: 112.857px;">12</div><div class="jqplot-y3axis-tick" style="position: absolute; top: 84.5714px;">15</div><div class="jqplot-y3axis-tick" style="position: absolute; top: 56.2857px;">18</div><div class="jqplot-y3axis-tick" style="position: absolute; top: 28px;">21</div></div><canvas width="480" height="260" class="jqplot-grid-canvas" style="position: absolute; left: 0px; top: 0px; width: 480px; height: 260px;"></canvas><canvas width="388" height="198" class="jqplot-series-shadowCanvas" style="position: absolute; left: 24px; top: 36px; width: 388px; height: 198px;"></canvas><canvas width="388" height="198" class="jqplot-series-shadowCanvas" style="position: absolute; left: 24px; top: 36px; width: 388px; height: 198px;"></canvas><canvas width="388" height="198" class="jqplot-series-shadowCanvas" style="position: absolute; left: 24px; top: 36px; width: 388px; height: 198px;"></canvas><canvas width="388" height="198" class="jqplot-series-canvas" style="position: absolute; left: 24px; top: 36px; width: 388px; height: 198px;"></canvas><canvas width="388" height="198" class="jqplot-series-canvas" style="position: absolute; left: 24px; top: 36px; width: 388px; height: 198px;"></canvas><canvas width="388" height="198" class="jqplot-series-canvas" style="position: absolute; left: 24px; top: 36px; width: 388px; height: 198px;"></canvas><div class="jqplot-cursor-tooltip" style="position: absolute; display: none;"></div><canvas width="388" height="198" class="jqplot-zoom-canvas" style="position: absolute; left: 24px; top: 36px; width: 388px; height: 198px;"></canvas><canvas width="388" height="198" class="jqplot-lineRenderer-highlight-canvas" style="position: absolute; left: 24px; top: 36px; width: 388px; height: 198px;"></canvas><canvas width="388" height="198" class="jqplot-event-canvas" style="position: absolute; left: 24px; top: 36px; width: 388px; height: 198px;"></canvas></div><br><div class="jqplot-image-container" style="display: none;"><div class="jqplot-image-container-header">Right Click to Save Image As...<a class="jqplot-image-container-close" href="#">Close</a></div><div class="jqplot-image-container-content"></div></div>
    </div>

    <div id="tabs-3" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
        <p>Toma Grafiquito Two</p>
        <div id="chart2" style="margin-top: 20px; margin-left: 20px; position: relative; height: 200px; width: 300px;" class="jqplot-target"></div><br><div class="jqplot-image-container" style="display: none;"><div class="jqplot-image-container-header">Right Click to Save Image As...<a class="jqplot-image-container-close" href="#">Close</a></div><div class="jqplot-image-container-content"></div></div>
    </div>

</div>








<div id="grafiquito" style="width: 400px;display: inline-block">

</div>
<div id="grafiquito1" style="width: 400px;display: inline-block">

</div>
<div id="grafiquito2" style="width: 400px; display: inline-block">

</div>
<div id="chart6" style="width: 400px;display: inline-block">

</div>



















@section Scripts {
<script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.js"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.jqplot.js"></script>

<script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/jquery.jqplot.min.js"></script>

    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.cursor.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.pieRenderer.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.barRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.min.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>







    <script>
    $(document).ready(function () {

        var plot5 = $.jqplot('grafiquito', [[['Planes Aprobados', @ViewBag.planesaprobados], ['Planes Desaprobados', @ViewBag.planesdesaprobados],['Planes Rechazados', @ViewBag.planesrechazados]]], {
            seriesDefaults: { renderer: $.jqplot.PieRenderer, trendline: { show: true } },
            legend: { show: true }
        });



            jQuery.jqplot.config.enablePlugins = true;
            plot7 = jQuery.jqplot('grafiquito1',
              [[['Planes Aprobados', @ViewBag.planesaprobados], ['Planes Desaprobados', @ViewBag.planesdesaprobados],['Planes Rechazados', @ViewBag.planesrechazados]]],
              {
                  title: ' ',
                  seriesDefaults: { shadow: true, renderer: jQuery.jqplot.PieRenderer, rendererOptions: { showDataLabels: true } },
                  legend: { show: true }
              }
            );


        plot3 = jQuery.jqplot('grafiquito2',
    [[['Planes Aprobados', @ViewBag.planesaprobados], ['Planes Desaprobados', @ViewBag.planesdesaprobados],['Planes Rechazados', @ViewBag.planesrechazados]]],
    {
        title: ' ',
        seriesDefaults: {
            shadow: false,
            renderer: jQuery.jqplot.PieRenderer,
            rendererOptions: {
                startAngle: 180,
                sliceMargin: 4,
                showDataLabels: true
            }
        },
        legend: { show: true, location: 'w' }
    }
  );

        var line1 = [['Aprobados', @ViewBag.planesaprobados], ['Desaprobados', @ViewBag.planesdesaprobados],['Rechazados', @ViewBag.planesrechazados]];

    $('#chart6').jqplot([line1], {
        title:'Planes',
        seriesDefaults:{
            renderer:$.jqplot.BarRenderer,
            rendererOptions: {
                // Set the varyBarColor option to true to use different colors for each bar.
                // The default series colors are used.
                varyBarColor: true
            }
        },
        axes:{
            xaxis:{
                renderer: $.jqplot.CategoryAxisRenderer
            }
        }
    });



    $.jqplot.config.enablePlugins = false;


    var l4 = [['Aprobados', @ViewBag.planesaprobados], ['Desaprobados', @ViewBag.planesdesaprobados],['Rechazados', @ViewBag.planesrechazados]];

    $("#tabs").tabs();

    var plot2 = $.jqplot('chart2', [l4], {
        height: 200,
        width: 300,
        series: [{ renderer: $.jqplot.PieRenderer }],
        legend: { show: true }
    });

   var plot1 = jQuery.jqplot('chart1',
    [[['Planes Aprobados', @ViewBag.planesaprobados], ['Planes Desaprobados', @ViewBag.planesdesaprobados],['Planes Rechazados', @ViewBag.planesrechazados]]],
    {
        title: ' ',
        seriesDefaults: {
            shadow: false,
            renderer: jQuery.jqplot.PieRenderer,
            rendererOptions: {
                startAngle: 180,
                sliceMargin: 4,
                showDataLabels: true
            }
        },
        legend: { show: true, location: 'w' }
    }
  );



    $('#tabs').bind('tabsactivate', function (event, ui) {
        if (ui.newTab.index() === 1 && plot1._drawCount === 0) {
            plot1.replot();
        }
        else if (ui.newTab.index() === 2 && plot2._drawCount === 0) {
            plot2.replot();
        }
    });













    });
</script>
}

