
@model WebApplication1.Models.UserView
@{
    ViewBag.Title = "Roles";
}

<h2>Permisos del usuario: @Model.Name</h2>


<p>
    @Html.ActionLink("Volver", "Index", new { user = Model }, new { @class = "btn btn-info" })
    @Html.ActionLink("Agregar permiso", "AddRole", new { userID = Model.UserID }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    @for (int i = 0; i < Model.Roles.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Roles[i].Name)
            </td>

            <td>
                <button userID = @Model.UserID roleID = @Model.Roles[i].RoleID nombrepermiso=@Model.Roles[i].Name id="eliminar" class="btn-link js-delete">Quitar Permiso</button>
               @*@Html.ActionLink("Eliminar", "Delete", new {userID = Model.UserID, roleID = Model.Roles[i].RoleID})*@
            </td>
        </tr>
    }

</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-delete").on("click", function() {
            var button = $(this);

            bootbox.confirm("¿Está seguro que desea quitar el permiso: "+button.attr("nombrepermiso")+ "?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/Users/Delete/",
                            type: 'post',
                            data: {
                                userID: button.attr("userID"),
                                RoleID: button.attr("roleID")
                            },
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
    });
    </script>
}






